

.bodyporra{
  margin: 0;
    box-sizing: border-box;
   min-height: 100vh;
   width: 100vw;
    display: flex;
    justify-content: center;
    place-items: center;
    background-color: #121212;
}

.caixaconv{
  padding: 20px;
  background-color: whitesmoke;
text-align: center;
border-radius: 15px;

}

.conv{
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 1px;
}

.sub{
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.val{
  border: 1px solid rgb(0, 0, 0);
  font-size: 1.5rem;
  
}

.rel{
  font-size: 30px;
}

.back{
    position: absolute;
    left: 10px;
    top: 10px;
 width: 18px;
 cursor: pointer;
 
}