.pptbody{
     margin: 0;
    box-sizing: border-box;
   min-height: 100vh;
   width: 100vw;
    display: flex;
    justify-content: center;
    place-items: center;
    color: rgb(0, 0, 0);
    background-color: #000000;
}

.pptdi{
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.h1ppt{
    font-size: 2rem;
}



button {
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    background-color: #9c7e7e;
    border: 2px #121212 solid;
    cursor: pointer;
    margin-left: 3px;
}
