.dadocorpo{
margin: 0;
    box-sizing: border-box;
   min-height: 100vh;
   width: 100vw;
    display: flex;
    justify-content: center;
    place-items: center;
    color: rgb(255, 255, 255);
    background-color: #3a3838;
}

.dadodiv{
    background-color: #121212;
    padding: 30px;
    border-radius: 15px;
text-align: center;
 }

 .dadobut{
padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }

 .dadosra{
font-size: 100px;
margin: 20px;
 }

 .pdado{
    margin: 2px;
    font-size: 13px;
 }

 .dadobut:disabled{
    background-color: grey;
    cursor: default
 }

 .historico{
       background-color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 4px;
    color: black;
 }

 .uldado{
    margin: 0px;
    padding: 10px;
list-style: none; 
}

 .h3dado{
    margin-bottom: 0px;
 }