.dadocorpo {
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    place-items: center;
    color: rgb(255, 255, 255);
    background: radial-gradient(circle at top, #111d39, #121212)
}

.dadodiv {
 background: #080d16;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
     box-shadow: 0 10px 25px rgba(4, 4, 4, 0.85);
}

.dadobut {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #010a48;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dadobut:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}


.dadosra {
    font-size: 100px;
    margin: 20px;
}

.pdado {
    color: #2f5db4;
    margin: 2px;
    font-size: 13px;
}

.dadobut:disabled {
    background-color: rgb(65, 62, 62);
    cursor: default
}

.historico {
    background-color:#0f1933;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 4px;
    color: rgb(231, 228, 228);
}

.lastnumber{
    font-size: 23px;
}

.h3dado{
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.back {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 18px;
    cursor: pointer;

}