.corpo2{

  margin: 0;
    box-sizing: border-box;
   min-height: 100vh;
   width: 100vw;
    display: flex;
    justify-content: center;
    place-items: center;
    color: white;
   background: radial-gradient(circle at top, #05080f, #020409)
}

.section{
  background: #080d16;
  border: 1px solid #141b2d;
  border-radius: 14px;
  padding: 22px 20px;
  width: 180px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.85);

}

.numero{
    font-size: 100px;
}

.porrinha{
    margin: 3px;
    padding: 6.7px;
    background: #0c1220;
transition: transform 0.4s;
 border: 1px solid #141b2d;
 font-size: 1.1rem;
 transition: all 0.15s ease;
    }


.porrinha:hover{
    background-color: white;
    border-color: black;
    cursor: pointer;
   
}

.back1{
    position: absolute;
     top: 10px;
      left: 10px;
      width: 18px;
      cursor: pointer;
}

.titulo{
    font-size: 35px;    
}

