.corpo2{

  margin: 0;
    box-sizing: border-box;
   min-height: 100vh;
   width: 100vw;
    display: flex;
    justify-content: center;
    place-items: center;
    color: white;
    background-color: #000000;
}

.section{
    padding: 15px;
    text-align: center;
    font-family: monospace;
    border-radius: 12px;
    background-color: #121212;
    color: white;

}

.numero{
    font-size: 100px;
}

.porrinha{
    margin: 3px;
    padding: 8px;
    background-color: rgb(22, 30, 73);
     border: 3px solid rgb(134, 131, 131);
transition: transform 0.4s;
    }


.porrinha:hover{
    background-color: white;
    border-color: black;
    cursor: pointer;
    transform: scale(1.1);
}

.back1{
    position: absolute;
     top: 10px;
      left: 10px;
      width: 18px;
      cursor: pointer;
}

.titulo{
    font-size: 35px;    
}

