body.light{
    background-color: #EEEEEE;
}

body.light .subtitulo{
    color: black;
}

body.light .texto{
    color: black;
}

body.light .textosecundario{
    color: #747171;
}

body.light .texto3{
    color: black;
}

body.light .head{
    background-color: #f3f3f4;
    color: black;
}

body.light .linha{
    background-color: black;
}

body.light .menu-lateral{
background-color: #F0F0F0;
}

body.light .navtext{
    color: black;
}
body.light .navtext:hover{
     color: #22C55E;
}

body.light .contato{
    color: black;
}


body.light .github:hover,
.zapfoda:hover,
.vercel:hover,
.iconfont:hover {
  filter: brightness(0);
  transform: scale(1.1);
}