* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0f14;
  min-height: 100dvh;
}


.head {
  text-align: center;
  font-size: 55px;
  color: white;
  background-color: #0F172A;
  display: flex;
  justify-content: center;
align-items: center;
}

section {
  background-color: #ffffff;
  font-family: serif;
}


.hero {
  position: relative;
  max-width: 1100px;
  margin: 120px auto 0;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
} 

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #E5E7EB;
}

.subtitulo {
  padding-left: 10px;
  font-size: 55px;
  font-family: serif;
  margin: 0;
  color: #ffffff;
}

.texto {
  margin: 6px 0 0 10px;
  font-size: 18px;
  line-height: 1.6;
  color: #D1D5DB;
  max-width: 600px;
  overflow-wrap: break-word;
  white-space: normal;
}

.textosecundario {
  margin: 6px 0 0 10px;
  font-size: 18px;
  line-height: 1.6;
  color: #6B7280;
  max-width: 600px;
  overflow-wrap: break-word;
  white-space: normal;
}

.texto2 {
  margin: 6px 0 0 10px;
  font-size: 18px;
  line-height: 1.6;
  color: #00fd0d;
  max-width: 600px;
  overflow-wrap: break-word;
  white-space: normal;
  margin-top: 30px;
}

.texto3 {
  margin-top: 10px;
  margin: 6px 0 0 10px;
  font-size: 13px;
  color: white;
}


.kanye {
  width: 300px;
  height: 350px;
}


.hamburguer {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 13px;
  left: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 6px;
}

.linha {
  display: block;
  width: 30px;
  height: 4px;
  background: #dadee6;
  border-radius: 2px;
  transition: 0.4s;
  padding: 2px;
}

.hamburguer:hover .linha{
  background-color: #22C55E;
}


.menu-lateral {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100dvh; 
  background-color: #111827;
  padding-top: 80px;
  padding-bottom: 20px;
  transition: 0.3s;
  z-index: 999;
  
 
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
}

.menu-lateral.aberto {
  left: 0;
}

.navtext {
  font-size: 30px;
margin: 6px;
  text-decoration: none;
  margin-left: 4px;
  color: #E5E7EB;
  display: block;
}

.navtext:hover{
  color: #22C55E;
}


.contato {

  margin-top: auto; 
  margin-bottom: 15px;
  margin-left: 20px;
  color: white;
  font-size: 28px;
  text-align: left;
}


.box-icones {
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px; 
  padding-bottom: 10px;
}


.box-icones a,
.box-icones h1 {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}


.github,
.zapfoda,
.vercel,
.iconfont {
  position: static; 
  width: 32px;
  height: auto;
  filter: brightness(0) saturate(100%) invert(70%);
  transition: 0.2s;
}


.zapfoda {
  width: 50px; 
}
.iconfont {
  width: 36px;
}


.github:hover,
.zapfoda:hover,
.vercel:hover,
.iconfont:hover {
  filter: brightness(0) saturate(100%) invert(57%) sepia(78%) saturate(433%) hue-rotate(86deg) brightness(96%) contrast(95%);
  transform: scale(1.1);
}

.tema{
    text-align: center;
  background-color: #0F172A;
position: absolute;
top: 10px;
right: 8px;
background-color: transparent ;
  transition: opacity 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-lateral,
.hero,
.hero-text,
.head,
section {
  transition: background-color 0.3s ease, color 0.3s ease, 0.3s;
}

.tema.trocando {
  opacity: 0;
  transform: rotate(90deg) scale(0.8);
}