* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  min-height: 100vh;

}

.head {
  text-align: center;
  font-size: 55px;

}

section {
  background-color: #ffffff;
  color: #000000;
  font-family: serif;

}

.hero {
  position: fixed;
  padding: 10px;
  bottom: 310px;
  left: 400px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitulo {
  padding-left: 10px;
  font-size: 55px;
  font-family: serif;
  margin: 0;
  color: white;
}

.texto {
  margin: 6px 0 0 10px;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  max-width: 600px;
  overflow-wrap: break-word;
  white-space: normal;
}

.texto2 {
  margin: 6px 0 0 10px;
  font-size: 18px;
  line-height: 1.6;
  color: #00fd0d;
  max-width: 600px;
  overflow-wrap: break-word;
  white-space: normal;
  margin-top: 30px;
}


.kanye {
  width: 300px;
  height: 350px;
}

.hamburguer {
  background: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 13px;
  left: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.linha {
  display: block;
  width: 30px;
  height: 4px;
  background: #555353;
  border-radius: 2px;
  transition: 0.4s;
  padding: 2px;
}

.hamburguer:hover{
  background-color: #ffffff;
  }
.hamburguer.aberto{
  background-color: #121212;
}


.menu-lateral {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: #121212;
  padding-top: 80px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 999;
}

.menu-lateral.aberto {
  left: 0;
}

.navtext {
  font-size: 30px;
  margin: 7px;
  text-decoration: none;
  color: inherit;
  color: white;
}

.navigit {
  font-size: 30px;
  margin: 7px;
  text-decoration: none;
  color: inherit;
  color: white;
}

.github {
  position: absolute;
  width: 35px;
  top: 913px;
  left: 15px;
}

.contato {
  position: absolute;
  top: 860px;
  color: white;
  left: 10px;
  font-size: 34px;
}

.texto3 {
  margin-top: 10px;
  margin: 6px 0 0 10px;
  font-size: 13px;
  color: white;
}

.zap {
  font-size: 30px;
  margin: 7px;
  text-decoration: none;
  color: inherit;
  color: white;
}

.zapfoda {
  position: absolute;
  width: 60px;
  top: 902px;
  left: 52px;

}

.vercelnav {
  font-size: 30px;
  margin: 7px;
  text-decoration: none;
  color: inherit;
  color: white;
}

.vercel {
  position: absolute;
  width: 30px;
  top: 918px;
  left: 112px;
}