@media (max-width: 728px ) 
{
  
  
  .head {
    font-size: 35px;
    padding-top: 15px;
  }


  .hero {
  margin: 60px auto 0 auto; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
  }

  .kanye {
    width: 70%;
    max-width: 280px;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
  }

  .hero-text {
    width: 100%;
    text-align: center;
  }

  .subtitulo {
    font-size: 32px;
    padding-left: 0;
  }

  .texto,
  .texto2 {
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    margin: 15px 0;
    padding: 0 10px;
  }

  .texto3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .menu-lateral {
    width: 85%;
    left: -100%;
  }

  .menu-lateral.aberto {
    left: 0;
  }

}